/* General Clases */

.mdl-card {
    display: inline-table;
    margin: 10px;
}

.mdl-card__media {
  overflow-y: auto;
  background: transparent;
}

.mdl-dialog__content{
  height: 500px;
  overflow-y: auto;
}

.mdl-dialog{
  width: 1200px;
}

.longEdit{
  width: 1000px;
}

.mdl-textfield, .mdl-selectfield{
  margin: 10px;
  float: left;
}

.edit-label{
  float: left;
  color: rgb(33,150,243);
  font-size: 12px;
}

/*
table tbody, table thead
{
    display: block;
}

tbody
{
   overflow-y: auto;
   height: 800px;
}

th, td {
  min-width: 110px;
  max-width: 110px;
  border: 10px;
}
*/



/*
.table{
  margin-top: 0px !important;
  height: 100px !important;
}

.tableBody{
  overflow: auto !important;
}
*/

/* #product */


#products {
  height: 500px;
}

#productCalculationsCard{
  width: 200px;
}
#productCalculations{
  height: 553px;
}

#SQLfunctionCard{
  width: 195px;
}
#SQLfunction{
  height: 553px;
}

#productOfficesCard{
  width: 190px;
}
#productOffices {
  height: 300px;
}

#productCurrenciesCard{
  width: 170px;
}
#productCurrencies{
  height: 300px;
}

#productOutputCard{
  width: 170px;
}
#productOutput{
  height: 300px;
}

#IBSproductCard{
  width: 170px;
}
#IBSproduct{
  height: 300px;
}
